h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.container {
  color: #555;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.get-started {
  opacity: 0.5;
  margin: 125px auto 0;
  width: 300px;
  color: #000;
  text-align: center;
}

.client-search {
  width: 30%;
}

.client-list {
  width: 30%;
  overflow: hidden;
}

.add-calendar-button h5 {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

.select-template {
  max-width: 240px;
}

.program-dates input {
  display: inline-block;
  max-width: 200px;
  margin-left: 2%;
  margin-right: 4%;
}

.point-structure span {
 display: inline-block;
 width: 180px;
}

.point-structure input {
  max-width: 120px;
  display: inline-block;
  margin-right: 1%;
}

.cancel-button {
  text-decoration: underline;
  color: #0069d9;
}

.next-button, .done-button {
  margin-left: 43%;
}

.calendar-name {
  display: inline-block;
}

.point-total {
  float: right;
}

.buttons {
  clear: both;
  margin-top: 10%;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-header {
  background-color: rgba(0, 0, 0, .02);
  border-bottom: none;
}

.card-body {
  padding: 0;
}

.mb-0 > a > span:first-child {
  display: inline-block;
  min-width: 80px;
}

.table {
  margin-bottom: 0;
}

.table td, .table th {
  padding: .75rem .5rem;
  vertical-align: middle;
}

thead tr {
  line-height: 1;
}

tbody tr {
  height: 74px;
}

/* sets width of title/name column */
th:nth-of-type(2) {
  width: 220px;
}

/* sets width of input form for date and point editing */
input.form-control {
  width: 170px;
}

.preview {
  position: absolute;
  right: 15px;
}

.add-challenge-text {
  vertical-align: middle;
}

.oi-magnifying-glass {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 10px;
}

.oi-caret-bottom {
  float: right;
  top: 3px;
}

.home-button {
  float: left;
  width: 24px;
}

.logo {
  width: 175px;
  margin-left: -30px;
}

.folder {
  width: 130px;
}

.edit-icon,
.upload-icon {
  width: 24px;
  margin-right: 20%;
}

.preview-icon,
.delete-icon {
  width: 24px;
  cursor: pointer;
}

.add-icon {
  width: 32px;
  border-radius: 50%;
  background-color: #d92c27;
  cursor: pointer;
}

.calendar-link {
  width: 32px;
  float: right;
}

.table-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.table-icon-wide {
  width: 64px;
  height: 32px;
  margin-right: 12px;
  cursor: pointer;
}

.add-targeting-button, .add-resource-button {
  width: 24px;
}

.delete-resource-icon {
  width: 24px;
  padding-top: 50%;
}

.add-challenge-icon {
  width: 28px;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.editing-row .form-control {
  width: auto;
}

.editing-row .edit-points {
  display: inline-block;
  margin-right: 5px;
  width: 50%;
}

.edit-date {
  display: inline-block;
}

.category-cell {
  min-width: 88px;
}

.actions-cell {
  min-width: 132px;
}

#approveButton {
  margin: 2em 50%;
}

#categoryTotals {
  float: right;
  margin-bottom: 1em;
}

#categoryTotals h5 {
  text-align: right;
  padding-right: 12px;
}

#categoryTotals span {
  margin-right: 12px;
}

.point-total > h5 {
  text-align: right;
}

.percentages h5 {
  display: inline-block;
  margin-left: 20px;
}

#readOnlyDescription {
  min-height: 300px;
}

.add-custom-challenge .form-control {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

.colored-border {
  border: 3px solid blue !important;
}

#editChallengeModal .modal-dialog {
  max-width: 650px;
}

#editChallengeModal .modal-body {
  padding: 0;
}

#editChallengeModal .item-info-image {
  width: 100%;
  margin-bottom: 1em;
}

#editChallengeModal .more-info-container {
  width: 550px;
  margin: auto;
}

#editChallengeModal .brandingBckgrndColor {
  background-color: #0080A5;
}

/* Helpers */
.clear {
  clear: both;
}

.left-15 {
  margin-left: 15%;
}

.left-abs-73 {
  position: absolute;
  left: 73%;
}

.right {
  float: right;
}

/* Media queries */

@media print {
  .collapse {
    display: block;
  }
}
