h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.table td, .table th {
  padding: .75rem .5rem
}

.container {
  color: #555;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.get-started {
  opacity: 0.5;
  margin: 125px auto 0;
  width: 300px;
  color: #000;
  text-align: center;
}

.client-search {
  width: 30%;
}

.client-list {
  width: 30%;
  overflow: hidden;
}

.add-calendar-button h5 {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

.select-template {
  max-width: 240px;
}

.program-dates input {
  display: inline-block;
  max-width: 200px;
  margin-left: 2%;
  margin-right: 4%;
}

.point-structure span {
 display: inline-block;
 width: 180px;
}

.point-structure input {
  max-width: 120px;
  display: inline-block;
  margin-right: 1%;
}

.cancel-button {
  text-decoration: underline;
  color: #0069d9;
}

.next-button, .done-button {
  margin-left: 43%;
}

.calendar-name {
  display: inline-block;
}

.point-total {
  float: right;
}

.buttons {
  clear: both;
  margin-top: 10%;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-body {
  padding: 0;
}

.mb-0 > a > span:first-child {
  display: inline-block;
  min-width: 80px;
}

.table {
  margin-bottom: 0;
}

.preview {
  position: absolute;
  right: 15px;
}

.add-challenge-text {
  vertical-align: middle;
}

/* Helpers */
.clear {
  clear: both;
}

.left-15 {
  margin-left: 15%;
}

.left-abs-73 {
  position: absolute;
  left: 73%;
}

.right {
  float: right;
}

.oi-magnifying-glass {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 10px;
}

.oi-caret-bottom {
  float: right;
}

.home-button {
  float: left;
  width: 24px;
}

.logo {
  width: 175px;
  margin-left: -30px;
}

.folder {
  width: 130px;
}

.edit-icon,
.upload-icon {
  width: 24px;
  margin-right: 20%;
}

.delete-icon {
  width: 24px;
}

.add-icon {
  width: 32px;
  border-radius: 50%;
  background-color: #d92c27;
}

.calendar-link {
  width: 32px;
  float: right;
}

.table-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.add-targeting-button, .add-resource-button {
  width: 24px;
}

.delete-resource-icon {
  width: 24px;
  padding-top: 50%;
}

.add-challenge-icon {
  width: 28px;
  border-radius: 50%;
  background-color: #d92c27;
  margin: 8px;
}

.challenge-select .dropdown {
  display: inline-block;
  vertical-align: middle;
}

.challenge-search {
  width: 100%;
}

.editing-row .form-control {
  width: auto;
}

.editing-row .edit-points {
  display: inline-block;
  margin-right: 5px;
  width: 50%;
}

.edit-date {
  display: inline-block;
}

.category-cell {
  min-width: 88px;
}

.actions-cell {
  min-width: 132px;
}

.comment-box {
  display: inline;
}

.tooltip {
  opacity: 1;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  position: relative;
  right: 15%;
  text-align: left;
  padding: 0 20px;
  background-color: white;
  border: 1px solid black;
  color: inherit;
  max-width: inherit;
}

.comment-box-tooltip .arrow {
  left: 13%;
}

.comment-box-tooltip-inner {
  right: 70%;
  text-align: right;
}

.comment-box-tooltip-inner h5 {
  text-align: left;
}

.comment-box-tooltip-inner textarea {
  width: 300px;
  height: 100px;
}

.comment-box-tooltip-inner button {
  margin: 10px 0;
}

#edit-challenge-modal .modal-dialog {
  max-width: 1000px;
}

#tile-preview {
  width: 440px;
}

#tile-preview .item-info-image {
  width: 100%;
  margin-bottom: 1em;
}

.trumbowyg-box, .trumbowyg-editor {
  margin: 0;
}

.brandingBckgrndColor {
  background-color: #0080A5;
}

#approveButton {
  margin: 2em 50%;
}

#categoryTotals {
  float: right;
  margin-bottom: 1em;
}

#categoryTotals h5 {
  text-align: right;
  padding-right: 12px;
}

#categoryTotals span {
  margin-right: 12px;
}

.point-total > h5 {
  text-align: right;
}

.percentages h5 {
  display: inline-block;
  margin-left: 20px;
}

#readOnlyDescription {
  min-height: 300px;
}

@media print {
  .collapse {
    display: block;
  }
}
