h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.limeade-header {
  font-size: 1.2em;
  font-weight: 500;
}

/* for Chrome/Safari */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

thead tr {
  line-height: 1;
}

tbody {
  border: 1px solid gainsboro;
}

tbody tr {
  height: 74px;
}

/* sets width of title/name column */
td:nth-of-type(2) {
  width: 220px;
}

/* sets width of input form for date and point editing */
input.form-control {
  width: 170px;
}

.container {
  color: #555;
  max-width: 1180px;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.select-template {
  max-width: 240px;
}

.program-dates input {
  display: inline-block;
  max-width: 200px;
  margin-left: 2%;
  margin-right: 4%;
}

.point-structure span {
 display: inline-block;
 width: 180px;
}

.point-structure input {
  max-width: 120px;
  display: inline-block;
  margin-right: 1%;
}

.cancel-button {
  text-decoration: underline;
  color: #0069d9;
}

.next-button, .done-button {
  margin-left: 43%;
}

.calendar-name {
  display: inline-block;
  cursor: pointer;
}

.point-total {
  float: right;
}

.buttons {
  clear: both;
  margin-top: 10%;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card-header {
  background-color: rgba(0, 0, 0, .02);
  border-bottom: none;
}

.card-body {
  padding: 0;
}

.mb-0 > a > span:first-child {
  display: inline-block;
  min-width: 80px;
}

.table {
  margin-bottom: 1.2em;
}

.table td, .table th {
  padding: .75rem .5rem;
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F5F5F5;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

.challenge-title {
  cursor: pointer;
}

.challenge-title:hover {
  text-decoration: underline;
}

.badges {
  margin: 0;
  padding: 0;
}

.badge {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.5em;
  border: none;
  padding: 4px 10px;
  margin: 0 0.5em 0 0;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
}

.custom-badge-netnew {
  background-color: #8fa4e7;
}

.custom-badge-rerun {
  background-color: #8968d5;
}

.custom-badge-revised {
  background-color: #6947bb;
}

.featured-badge {
  background-color: #83d2e2;
}

.targeted-badge {
  background-color: #3798ab;
}

.preview {
  position: absolute;
  right: 15px;
}

.add-challenge-text {
  vertical-align: middle;
}

.oi-magnifying-glass {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 10px;
}

.oi-caret-bottom {
  float: right;
  top: 3px;
}

.home-button {
  float: left;
  width: 24px;
}

.logo {
  width: 175px;
  margin-left: -30px;
}

.folder {
  width: 130px;
}

.drag-icon {
  opacity: 0;
}

.drag-icon:hover {
  opacity: 1;
}

.start-date {
  cursor: pointer;
}

.end-date {
  cursor: pointer;
}

.points-text {
  cursor: pointer;
}

.edit-icon,
.upload-icon {
  width: 24px;
  margin-right: 20%;
}

.featured-icon {
  width: 24px;
  cursor: pointer;
}

.duplicate-icon,
.delete-icon {
  width: 24px;
  cursor: pointer;
}

.add-icon {
  width: 32px;
  border-radius: 50%;
  background-color: #d92c27;
  cursor: pointer;
}

.calendar-link {
  width: 32px;
  float: right;
}

.table-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.table-icon-wide {
  width: 64px;
  height: 32px;
  margin-right: 12px;
  cursor: pointer;
}

.table-icon-wide:hover {
  opacity: 0.7;
}

.short-description {
  display: none;
}

.add-targeting-button, .add-resource-button {
  width: 24px;
}

.delete-resource-icon {
  width: 24px;
  padding-top: 50%;
}

.add-challenge-icon {
  width: 28px;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
}

.editing-row .form-control {
  width: auto;
}

.editing-row .edit-points {
  display: inline-block;
  margin-right: 5px;
  width: 50%;
}

.edit-date {
  display: inline-block;
}

.category-cell {
  min-width: 88px;
}

.actions-cell {
  min-width: 132px;
}

#approveButton {
  margin: 2em 50%;
}

.totals {
  float: right;
  display: inline-block;
}

#customTotals {
  float: right;
  margin-bottom: 1em;
}

#customTotals h5 {
  text-align: right;
  padding-right: 12px;
}

#customTotals span {
  margin-right: 12px;
}

#categoryTotals {
  float: right;
  margin-bottom: 1em;
  margin-left: 2em;
}

#categoryTotals h5 {
  text-align: right;
  padding-right: 12px;
}

#categoryTotals span {
  margin-right: 12px;
}

.point-total > h5 {
  text-align: right;
}

.percentages h5 {
  display: inline-block;
  margin-left: 20px;
}

#saveNotification {
  position: fixed;
  right: 1em;
  color: #1EA369;
  z-index: 100;
  background: white;
}

#readOnlyDescription {
  min-height: 300px;
}

.add-custom-challenge .form-control {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

.colored-border {
  border: 3px solid blue !important;
}

.invalid {
  border: 2px solid red;
  color: red;
}

#editChallengeModal .modal-dialog {
  max-width: 650px;
}

#editChallengeModal .modal-body {
  padding: 0;
}

#editChallengeModal .item-info-image {
  width: 100%;
  margin-bottom: 1em;
}

#editChallengeModal .more-info-container {
  width: 550px;
  margin: auto;
}

#editChallengeModal .brandingBckgrndColor {
  background-color: #0080A5;
}

#editingCalendarName {
  width: 100%;
  min-width: 300px;
}

.phase-dates input {
  display: inline-block;
}

/* Helpers */
.clear {
  clear: both;
}

.left-15 {
  margin-left: 15%;
}

.left-abs-73 {
  position: absolute;
  left: 73%;
}

.right {
  float: right;
}

/* Media queries */

@media print {
  .collapse,
  .short-description {
    display: block;
  }

  tfoot {
    display: none;
  }

  .challenge-image,
  .actions-header,
  .actions {
    display: none;
  }
}
